.card-header{
  background-color:rgb(38,52,97);
  color: aliceblue;
  border-radius: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}
.card-body{
  color: aliceblue;
  border-radius: 0px;
}
.btn{
  border-radius:0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.form-control{
  border-radius: 0px;
  font-size: 20px;
}
body{
  margin-top: 80px;
  background-color:rgb(224, 224, 224); 
}